.contact {
    flex-direction: column;
    &__links {
        display: flex;
        height: 40px;
        align-items: center;
        
        a {
            &[class="image"] {
                display: flex;
                max-width: 30px;
                padding-right: 14px;
            }
        }
    }
}

@import 'base.css';