.contact {
    flex-direction: column;
    &__links {
        display: flex;
        height: 40px;
        align-items: center;
        
        a {
            &[class="image"] {
                display: flex;
                max-width: 32px;
                max-height: 32px;
                padding-right: 1%;
            }
        }
    }
}

@import 'base.css';