.foot {
    text-align: center;
    font-size: 2vh;
    height: 3vh;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: whitesmoke;
    background-color: #a3a4a5;
    border-top: 1px solid #a3a4a5;
}
