.head {
    position: sticky;
    top: 0;
    border-bottom: 1px solid #a3a4a5;

    &__nav {
        font-weight: 500;

        &-list {
            list-style-type: none;
            margin: 0 auto;
            padding: 0 6%;
            overflow: hidden;
            background-color: white;
            display: flex;
            height: 47px;
        }

        &-item {
            flex: 1;
        }

        a {
            color: grey;
            display: flex;
            text-align: center;
            margin: 0 auto;
            padding: 14px 14px;
            position: relative;

            &[class="link"] {
                padding: 0px 12px;
                max-width: 23px;
                align-items: center;
                height: 100%;
            }
        
            &[data-state='active'],
            &[aria-current='page'] {
                &:after { 
                    content: '';
                    display: block;
                    width: 100%;
                    height: 0.2rem; 
                    background-color: grey; 
                    position: absolute;
                    bottom: 0; 
                    left: 0;
                }
            }

            &:hover {
                background-color: whitesmoke;
            }

        }
    }
}

@media (max-width: 488px) {
    .head__nav {
        &-list {
            margin: 0 auto;
            padding: 0 0%; 
        }
    }
}

@media (max-width: 430px) {
    .head__nav {
        a {
            &[class="link"] {
                display: none;
            }
        }
    }
}