{% extends "layouts/base.html" %}
{% set nunjucks = "https://github.com/mozilla/nunjucks" %}

{% block content %}
<div class="wrapper">
    <article class="home">
        <h1 class="home__header">
            {{ home.header }}
        </h1>
        <div class="home__content">
            <p class="home__summary">
                {{ home.summary | shortUrl_urlize | safe }}
            </p>
            <p class ="home__excuse">
                {{ home.excuse }}
            </p>
        </div>
    </article>
</div>
{% endblock %}