<a class="skip-link" href="#content">Skip to content</a>
<header role="banner" class="head">
    <div class="wrapper">
        <nav class= "head__nav" aria-label="Main">
            <ul class="head__nav-list">
                {% for item in nav.items %}
                <li class="head__nav-item">
                    <a href="{{ item.url }}" {{ functions.isCurrentOrActive(item.url, page.url) | safe }}>
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
                {% for link in foot.links %} 
                <li>
                    <a class="link" href="{{ link.url }}">
                        {% include link.image %}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>  
    </div>
</header>